<!doctype html>
<html lang="en" ng-app="FireREST">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FireREST&trade;</title>
  <link rel="stylesheet" href="../../css/firerest.css"/>
  <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css"/>
  <script src="../../lib/angular/angular.js"></script>
  <script src="../../lib/angular/angular-route.js"></script>
  <script src="../../lib/jquery/jquery-2.1.1.min.js"></script>
  <script src="../../js/app.js"></script>
  <script src="../../js/services.js"></script>
  <script src="controllers.js"></script>
  <script src="../../bootstrap/js/ui-bootstrap-0.6.0.min.js"></script>
  <script src="../../bootstrap/js/ui-bootstrap-tpls-0.6.0.min.js"></script>
</head>
<body ng-controller="MainCtrl as main">

<!-- ///////////// BEGIN APPLICATION CODE ///////////// -->

  <div ng-include src="'../../partials/banner.html'" onload="
      bannerTitle='FireREST-CNC computer nuerical control REST api';
      bannerUrl='https://github.com/firepick1/FireREST/wiki/FireREST-CNC';
      bannerName='CNC Machine Control';
      bannerIcon='glyphicon-play-circle'">
  </div>

  <div class="container" >
    <div class="fr-banner-space">&nbsp;</div>

    <div ng-include src="'../../partials/service.html'"></div>
    <div ng-include src="'../../partials/monitor.html'"></div>

    <div class="fr-form">
      <div class="fr-section-title">
	DCE: {{cnc.dce_name}}
	<div class="fr-collapse">
	  <button class="btn btn-default btn-sm fr-collapse-btn" 
	    ng-click="collapse_toggle('cve')"><span class="{{collapse_icon('cve')}}"></span></button>
	</div>
      </div>
      <div ng-if="!cv.collapse.cve" class="row">
	<div class="col-md-3">
	  <div class="control-label fr-control-label">computer vision endpoint</div>
	  <select ng-model="cv.cve_name" ng-change="clear_results()" class="form-control">
	    <option ng-repeat="cve in cve_names()">{{cve}}</option>
	  </select>
	</div>
	<div class="col-md-2">
	  <div class="control-label fr-control-label">resource</div>
	  <select multiple ng-model="cv.resources" class="form-control">
	    <option>save.fire</option>
	    <option>process.fire</option>
	    <option>firesight.json</option>
	    <option>properties.json</option>
	  </select>
	</div>
      </div>
      <div class="fr-row" ng-repeat="resource in cv.resources">
	<div class="row fr-data-label">
	  <div class="col-md-1">&nbsp;</div>
	  <div class="col-md-8">
	    <a title="{{resource_url(resource)}}" href="{{resource_url(resource)}}" >{{resource}}</a>
	    <a target="_blank" class="fr-help" href="https://github.com/firepick1/FireREST/wiki/{{resource}}">?</a>
	  </div>
	</div>
	<div class="row">
	  <div class="fr-cell-btn col-md-1">
	    <button title="{{resource_url(resource)}}" 
	      type="button" class="btn btn-primary btn-sm fr-get" ng-click="resource_GET(resource)">
	      GET&nbsp;<span class="{{resource_GET_icon(resource)}}"></span>
	    </button>
	  </div>
	  <div class="fr-cell-data col-md-7">
	    <textarea readonly title="{{resource_url(resource)}}" 
	      class="form-control fr-json {{resource_classname[resource]}}" id="{{resource}}">{{resource_text(resource)}}
	    </textarea>
	  </div>
	</div>
	<div ng-if="resource_isPOST(resource)" class="row">
	  <div class="fr-cell-btn col-md-1">
	    <button ng-disabled="!isValidJSON(cv.post_data[resource])" title="{{resource_url(resource)}}" 
	      type="button" class="btn btn-primary btn-sm fr-post" ng-click="resource_POST(resource)">
	      POST&nbsp;
	    </button>
	  </div>
	  <div class="fr-cell-data col-md-7">
	    <textarea class="form-control fr-json-post" ng-model="cv.post_data[resource]"></textarea>
	  </div>
	</div>
      </div>
    </div>
  </div>

<!-- ///////////// END APPLICATION CODE ///////////// -->
<div ng-include src="'../../partials/footer.html'"></div></body></html>
