<div class="fr-banner"> 
  <div class="fr-banner-left">
    <h4 class="fr-banner-title">
      <a class="fr-title-minor" title="FireREST content source"  target="_blank"
	href="https://github.com/firepick1/FireREST/wiki/{{config.FireREST.provider}}-content">{{config.FireREST.title}}</a>
      <br>
      <a target="_blank" title="{{bannerTitle}}" href="{{bannerUrl}}">{{bannerName}}</a> 
      Test Page 
    </h4>
  </div>
  <div class="fr-banner-right">
    <a title="FireREST computer aided manufacturing REST services" 
      href="https://github.com/firepick1/FireREST/wiki/Home" target="_blank">
    <img class="fr-banner-logo" src="../../img/FireREST-alpha.png">
    </a>
  </div>
</div>
