<div ng-if="cnc.controls.indexOf('delta') >= 0" >
  delta.ok:{{delta.ok}}
  <div class="row">
    <div class="fr-cell-btn col-md-1">
      <button title="Delta forward" type="button" class="btn btn-primary" ng-click="delta.testForward()">
        FWD&nbsp;
      </button>
    </div>
    <div ng-repeat="key in ['theta1','theta2','theta3']" class="fr-cell-data col-md-2">
      <form class="form-inline fr-form-inline">
	<div class="form-group">
	  <div class="input-group">
	    <div class="input-group-addon">{{key}}</div>
	    <input class="form-control ng-focus="cnc.on_focus('delta',key)" ng-model="delta[key]" 
	      type="number" step="0.001">
	  </div>
	</div>
	<div ng-if="cnc.is_focus('delta',key)" class="form-group fr-form-inline-group">
	  <button class="btn " ng-click="cnc.jog(delta,key,-1)">-1</button> 
	  <button class="btn " ng-click="cnc.jog(delta,key,1)">+1</button> 
	</div>
      </form>
    </div>
    <div>errTheta1:{{delta.errTheta1}}<br>errTheta2:{{delta.errTheta2}}<br>errTheta3:{{delta.errTheta3}}</div>
  </div>
  <div class="row">
    <div class="fr-cell-btn col-md-1">
      <button title="Delta inverse" type="button" class="btn btn-primary " ng-focus="cnc.on_focus('delta','fwd')" ng-click="delta.testInverse()">
	BACK&nbsp;
      </button>
    </div>
    <div ng-repeat="key in ['x0','y0','z0']" class="fr-cell-data col-md-2">
      <form class="form-inline fr-form-inline">
	<div class="form-group">
	  <div class="input-group">
	    <div class="input-group-addon">{{key}}</div>
	    <input class="form-control ng-focus="cnc.on_focus('delta',key)" ng-model="delta[key]" 
	      type="number" step="0.00000001">
	  </div>
	</div>
      </form>
    </div>
    <div>errX:{{delta.errX}}<br>errY:{{delta.errY}}<br>errZ:{{delta.errZ}}</div>
  </div>
