<!doctype html>
<html lang="en" ng-app="FireREST">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FireREST&trade;</title>
  <link rel="stylesheet" href="css/firerest.css"/>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="lib/jquery/jquery-2.1.1.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="bootstrap/js/ui-bootstrap-0.6.0.min.js"></script>
  <script src="bootstrap/js/ui-bootstrap-tpls-0.6.0.min.js"></script>
</head>
<body ng-controller="MainCtrl">
  <div class="fr-banner"> 
    <div class="fr-banner-left">
      <h4 class="fr-banner-title">
        <a title="FireREST-CV computer vision REST api" href="https://github.com/firepick1/FireREST/wiki/FireREST-CV">FireREST-CV</a> 
	/
	<a title="FireREST content source"  target="_blank"
	  href="https://github.com/firepick1/FIreREST/wiki/{{content_source}}-content">{{content_source}}</a>
	Test Page 
      </h4>
    </div>
    <div class="fr-banner-right">
      <a title="FireREST computer aided manufacturing REST services" 
        href="https://github.com/firepick1/FireREST/wiki/Home" target="_blank">
      <img class="fr-banner-logo" src="img/FireREST-alpha.png">
      </a>
    </div>
  </div>
  <div class="container" >
    <div class="fr-banner-space">&nbsp;</div>

    <div class="fr-form">
      <h3>
	Service 
	<div class="fr-collapse">
	  <button class="btn btn-default btn-sm fr-collapse-btn" 
	    ng-click="collapse_toggle('service')"><span class="{{collapse_icon('service')}}"></span></button>
	</div>
      </h3>
      <span class="fr-service">{{service_url()}}/</span>
      <div class="row {{collapse_class('service')}}">
	<div class="col-md-2">
	  <div class="control-label fr-control-label">server</div>
	  <input type="text" ng-model="server" ng-change="clear_results()" class="form-control" placeholder="localhost">
	</div>
	<div class="col-md-2">
	  <div class="control-label fr-control-label">port</div>
	  <input type="text" ng-model="port" ng-change="clear_results()" class="form-control" placeholder="8001">
	</div>
	<div class="col-md-2">
	  <div class="control-label fr-control-label">service</div>
	  <input type="text" ng-model="service" ng-change="clear_results()" class="form-control" placeholder="localhost">
	</div>
      </div>
      <h3>
	Camera
	<div class="fr-collapse">
	  <button class="btn btn-default btn-sm fr-collapse-btn" 
	    ng-click="collapse_toggle('camera')"><span class="{{collapse_icon('camera')}}"></span></button>
	</div>
      </h3>
      <div class="row {{collapse_class('camera')}}">
	<div class="col-md-2">
	  <div class="control-label fr-control-label">camera</div>
	  <select ng-model="camera" ng-change="clear_results()" class="form-control">
	    <option>1</option>
	    <option>2</option>
	  </select>
	</div>
	<div class="col-md-2">
	  <div class="control-label fr-control-label">image</div>
	  <select multiple ng-model="show_image" class="form-control">
	    <option selected>monitor.jpg</option>
	    <option>camera.jpg</option>
	    <option>saved.png</option>
	    <option>output.jpg</option>
	  </select>
	</div>
      </div>
      <div ng-repeat="image in show_image">
	<div class="row fr-data-label">
	  <div class="col-md-8"><a href="{{image_url(image)}}">http://&hellip;&thinsp;{{image_path(image)}}</a>
	    <a target="_blank" class="fr-help" href="https://github.com/firepick1/FireREST/wiki/{{image}}">?</a>
	  </div>
	</div>
	<div class="fr-row row">
	  <div class="fr-cell-btn col-md-1">
	    <button type="button" class="btn btn-primary btn-sm" ng-click="image_GET(image)">GET</button>
	  </div>
	  <div class="fr-cell-data col-md-7">
	    <img class="img-responsive img-rounded {{image_class(image)}}" 
	      onerror="src='img/no-image.png'"
	      ng-src="{{image_url(image)}}" ng-click="image_click(image)">
	  </div>
	</div>
      </div>
    </div>

    <div class="fr-form">
      <h3>
	Computer Vision Endpoint
	<div class="fr-collapse">
	  <button class="btn btn-default btn-sm fr-collapse-btn" 
	    ng-click="collapse_toggle('cve')"><span class="{{collapse_icon('cve')}}"></span></button>
	</div>
      </h3>
      <div class="row {{collapse_class('cve')}}">
	<div class="col-md-3">
	  <div class="control-label fr-control-label">profile</div>
	  <select ng-model="profile" ng-change="clear_results()" class="form-control">
	    <option>gray</option>
	    <option>bgr</option>
	  </select>
	  <div class="control-label fr-control-label">computer vision endpoint</div>
	  <select ng-model="cve" ng-change="clear_results()" class="form-control">
	    <option>calc-offset</option>
	    <option>locate-part</option>
	  </select>
	</div>
	<div class="col-md-3">
	  <div class="control-label fr-control-label">action</div>
	  <select multiple ng-model="show_actions" class="form-control">
	    <option>save</option>
	    <option>process</option>
	    <option>firesight</option>
	  </select>
	</div>
      </div>
      <div ng-repeat="action in show_actions">
	<div class="row fr-data-label">
	  <div class="col-md-8"><a href="{{action_url(action)}}">http://&hellip;&thinsp;{{action_path(action)}}</a>
	    <a target="_blank" class="fr-help" href="https://github.com/firepick1/FireREST/wiki/{{action}}.json">?</a>
	  </div>
	</div>
	<div class="fr-row row">
	  <div class="fr-cell-btn col-md-1">
	    <button type="button" class="btn btn-primary btn-sm" ng-click="action_GET(action)">GET</button>
	  </div>
	  <div class="fr-cell-data col-md-7">
	    <div class="fr-json {{action_classname[action]}}" id="{{action}}-json">{{action_text(action)}}</div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</body>
</html>
