<!doctype html>
<html lang="en" ng-app="FireREST">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FireREST&trade;</title>
  <link rel="stylesheet" href="../../css/firerest.css"/>
  <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css"/>
  <script src="../../lib/angular/angular.js"></script>
  <script src="../../lib/angular/angular-route.js"></script>
  <script src="../../lib/jquery/jquery-2.1.1.min.js"></script>
  <script src="../../js/app.js"></script>
  <script src="../../js/services.js"></script>
  <script src="controllers.js"></script>
  <script src="../../bootstrap/js/ui-bootstrap-0.6.0.min.js"></script>
  <script src="../../bootstrap/js/ui-bootstrap-tpls-0.6.0.min.js"></script>
</head>
<body ng-controller="MainCtrl as main">

<!-- ///////////// BEGIN APPLICATION CODE ///////////// -->

  <div ng-include src="'../../partials/banner.html'" onload="
      bannerTitle='FireREST-CNC computer nuerical control REST api';
      bannerUrl='https://github.com/firepick1/FireREST/wiki/FireREST-CNC';
      bannerName='CNC Machine Control';
      bannerIcon='glyphicon-play-circle'">
  </div>

  <div class="container" >
    <div class="fr-banner-space">&nbsp;</div>

    <div ng-include src="'../../partials/service.html'"></div>
    <div ng-include src="'../../partials/monitor.html'"></div>

    <div class="fr-form">
      <div class="fr-section-title">
	DCE: {{cnc.dce_name}}
	<div class="fr-collapse">
	  <button class="btn btn-default btn-sm fr-collapse-btn" 
	    ng-click="service.expand_toggle('dce')"><span class="{{service.expand_icon('dce')}}"></span></button>
	</div>
      </div>
      <div ng-if="service.expand.dce" class="row">
	<div class="col-md-4">
	  <div class="control-label fr-control-label">device control endpoint</div>
	  <select ng-model="cnc.dce_name" ng-change="cnc.clear_results()" class="form-control">
	    <option ng-repeat="dce in cnc.dce_names">{{dce}}</option>
	  </select>
	  <table class="table table-condensed ">
	    <tr><th class="fr-prop-name">protocol:</th><td>{{cnc.dce.protocol}}</td></tr>
	    <tr><th class="fr-prop-name">serial.path:</th><td>{{cnc.dce.serial.path}}</td></tr>
	    <tr><th class="fr-prop-name">serial.stty:</th><td>{{cnc.dce.serial.stty}}</td></tr>
	  </table>
	</div>
      </div>
      <div class="fr-row" ng-repeat="resource in ['gcode.fire']">
	<div class="row fr-data-label">
	  <div class="col-md-1">&nbsp;</div>
	  <div class="col-md-8">
	    <a title="{{cv.resource_url(resource)}}" href="{{cv.resource_url(resource)}}" >{{resource}}</a>
	    <a target="_blank" class="fr-help" href="https://github.com/firepick1/FireREST/wiki/{{resource}}">?</a>
	  </div>
	</div>
	<div class="row">
	  <div class="fr-cell-btn col-md-1">
	    <button title="{{cnc.resource_url(resource)}}" 
	      type="button" class="btn btn-primary btn-sm fr-get" ng-click="cnc.resource_GET(resource)">
	      GET&nbsp;<span class="{{cnc.resource_GET_icon(resource)}}"></span>
	    </button>
	  </div>
	  <div class="fr-cell-data col-md-7">
	    <textarea readonly title="{{cnc.resource_url(resource)}}" 
	      class="form-control fr-json {{cnc.resource_classname[resource]}}" id="{{resource}}">{{cnc.resource_text(resource)}}
	    </textarea>
	  </div>
	</div>
	<div ng-if="resource === 'gcode.fire'" class="row">
	  <div class="fr-cell-btn col-md-1">
	    <button title="{{cv.resource_url(resource)}}" 
	      type="button" class="btn btn-primary btn-sm fr-post" ng-click="cv.resource_POST(resource)">
	      POST&nbsp;
	    </button>
	  </div>
	  <div ng-repeat="axis in cnc.axes" class="fr-cell-data col-md-2">
	    <form class="form-horizontal">
	      <div class="form-group">
		<div class="input-group">
		  <div class="input-group-addon">G0{{axis.id}}</div>
		  <input class="form-control " ng-model="axis.value" type="text">
		</div>
	      </div>
	      <div class="form-group">
		<button class="btn " ng-click="cnc.jog(axis,-axis.jog)">-{{axis.jog}}</button> 
		<button class="btn " ng-click="cnc.jog(axis,axis.jog)">+{{axis.jog}}</button> 
	      </div>
	      <div class="form-group">
		<div class="input-group">
		  <div class="input-group-addon">JOG{{axis.id}}</div>
		  <input class="form-control " ng-model="axis.jog" type="text">
		</div>
	      </div>
	    </form>
	  </div>
	</div>
      </div>
    </div>
  </div>

<!-- ///////////// END APPLICATION CODE ///////////// -->
<div ng-include src="'../../partials/footer.html'"></div></body></html>
