p {
  max-width: 700px;
}
.fr-version {
  font-size: 8pt;
  top: 26px;
  text-align: center;
  color: #ccc;
}
.fr-get {
  //margin-top: -2em;
  width: 6em;
}
.fr-post {
  margin-top: 0.3em;
  width: 6em;
}
.fr-enable {
  margin-left: 1em;
  color: #888 !important;
}
.fr-section-title {
  position: relative;
  font-size:20px;
  margin-top: 0.8em;
}
.fr-transmit-idle {
  color: #080;
}
.fr-transmit-active {
  color: #8f8;
}
.fr-transmit-dead {
  color: #a00;
}
.fr-service {
  font-family: Courier;
}
.fr-body-text {
  font-size: 14px;
}
.fr-collapse {
  display: inline-block;
  margin-left: 0em;
}
.fr-collapse-icon {
  color: #888;
  font-size: 14pt;
}
.fr-collapse-btn {
  border: none !important;
}
.fr-help {
  border-radius: 8px;
  background: #888;
  color: #fff;
  font-weight: 800;
  padding-left: 0.3em;
  padding-right: 0.3em;
}
.fr-content_source {
  color: #fa0;
}
.fr-title-minor{
  font-size: 8pt;
  font-style: italic;
}
.fr-banner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.4em;
  z-index: 99999999;
  background: #eee;
  padding-left: 1.0em;
}
.fr-banner-left {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
}
.fr-banner-logo {
  height: 2.1em;
  padding: 0.2em;
  padding-right: 0;
  display: inline-block;
}
.fr-banner-right {
  position: absolute;
  top: 7px;
  right: 10px;
}
.fr-banner-space {
  height: 1.5em;
}
.fr-banner-title {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 0.0em;
  margin-right: 1em;
}
.fr-row {
  position: relative;
  //border-bottom: 1pt solid #ddd;
  padding-bottom: 0.5em;
}
.fr-row:last-of-type {
  position: relative;
  border-bottom: none;
}
.fr-cell-data {
  display: inline-block;
}
.fr-cell-btn {
  display: inline-block;
  text-align: left;
}
.fr-img-sm{
  width:50%;
}
.fr-img-lg {
  width:100%;
}
.fr-control-label {
  font-weight: bold;
}
.fr-json {
  min-width:25em;
  min-height:2.2em;
  padding:0px;
  border: none !important;
}
.fr-json-post {
  min-width:25em;
  min-height:2.2em;
  margin-top: 0.3em;
  padding:2px;
}
.fr-json-ok {
  color: #888 !important;
}
.fr-json-err {
  background: #fee !important;
  color: #800;
}
.fr-data-label {
  margin-top: 0.6em;
  font-family: Courier;
  display:block;
  text-align: left;
}
.fr-data {
  position: relative;
}
.fr-form {
  padding-bottom: 1em;
}
