
.fr-banner {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 60em;
  height: 3.1em;
  z-index: 99999999;
  background: #eee;
}
.fr-banner-left {
  position: absolute;
  top: 0;
  left: 0;
}
.fr-banner-logo {
  height: 3em;
  padding: 0.1em;
  padding-left: 2em;
}
.fr-banner-right {
  position: absolute;
  top: 0;
  right: 0;
}
.fr-banner-space {
  height: 7em;
}
.fr-banner-title {
  text-align: right;
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
  margin-right: 1em;
}
.fr-row {
  position: relative;
  margin-bottom: 0.6em;
}
.fr-cell-data {
  display: inline-block;
}
.fr-cell-btn {
  display: inline-block;
  text-align: left;
}
.fr-img-sm{
  width:25%;
}
.fr-img-lg {
  width:100%;
}
.fr-json {
  background: #eee;
  min-width:30em;
  min-height:2.2em;
  border-radius: 5px;
  padding:2px;
}
.fr-data-label {
  font-family: Courier;
  font-weight: bold;
  display:block;
  text-align: left;
}
