p {
  max-width: 700px;
}
.fr-version:hover {
  color: #000;
}
.fr-axis-disabled {
  background-color: #aaa !important;
}
.fr-axis-error-min {
  color: red !important;
  border-bottom: 2pt solid red !important;
}
.fr-axis-error-max {
  color: red !important;
  border-top: 2pt solid red !important;
}
.fr-version {
  font-size: 8pt;
  top: 26px;
  text-align: center;
  color: #ccc;
}
.fr-inline-control {
}
.fr-prop-name {
  text-align: right;
}
.fr-service-info {
  font-size: 14px;
  font-family: Courier;
}
.fr-get {
  //margin-top: -2em;
  width: 6em;
}
.fr-post {
  margin-top: 0.3em;
  width: 6em;
}
.fr-enable {
  margin-left: 1em;
  color: #888 !important;
}
.fr-section-title {
  position: relative;
  font-size:18px;
  margin-top: 0.8em;
}
.fr-transmit {
  display: inline-block;
  font-size: 10pt;
  color: #eee;
  width:8px;
  padding:0;
  margin:2px;
}
.fr-transmit-on {
  color: #0f0;
}
.fr-transmit-idle {
  color: #080;
}
.fr-transmit-active {
  color: #8f8;
}
.fr-transmit-dead {
  color: #a00;
}
.fr-service {
  font-family: Courier;
}
.fr-body-text {
  font-size: 14px;
}
.fr-collapse {
  display: inline-block;
  margin-left: 0em;
}
.fr-collapse-icon {
  color: #888;
  font-size: 14pt;
}
.fr-collapse-btn {
  border: none !important;
}
.fr-help:hover {
  border: 1px solid #88f;
}
.fr-help {
  font-size: 14px;
  border-radius: 8px;
  background: #bbb;
  color: #fff;
  font-weight: 800;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-bottom: 1em;
  cursor: help;
}
.fr-icon {
  position: fixed;
  top: 50px;
  right: 15px;
  font-size:40pt;
  color: rgba(0,0,0,0.2);
  z-index: -1;
}
.fr-content_source {
  color: #fa0;
}
.fr-title-major{
  padding-top: .2em;
  cursor: pointer;
}
.fr-title-minor{
  font-size: 8pt;
  font-style: italic;
}
.fr-banner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 49px;
  z-index: 99999999;
  background: #eee;
  padding-left: 1.0em;
}
.fr-banner-left {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
}
.fr-banner-logo {
  height: 2.1em;
  padding: 0.2em;
  padding-right: 0;
  display: inline-block;
}
.fr-banner-right {
  position: absolute;
  top: 7px;
  right: 10px;
}
.fr-banner-space {
  height: 3.5em;
}
.fr-banner-title {
  display: inline-block;
  color:#428bca;
  padding: 0;
  margin: 0;
  margin-top: 0.0em;
  margin-right: 1em;
}
.fr-row {
  position: relative;
  //border-bottom: 1pt solid #ddd;
  padding-bottom: 0.5em;
}
.fr-row:last-of-type {
  position: relative;
  border-bottom: none;
}
.fr-cell-data {
  display: inline-block;
}
.fr-cell-btn {
  display: inline-block;
  text-align: left;
}
.fr-img-sm{
  width:50%;
}
.fr-img-lg {
  width:100%;
}
.fr-control-label {
  font-weight: bold;
}
.fr-form-inline {
  margin-top: 0.25em;
}
.fr-form-inline-group {
  margin-top: 0.25em;
  margin-left: 1.5em;
}
.fr-confirm{
  z-index: 99999;
  position: relative;
  width: 12em;
  background-color: #ffa;
  padding-left: 0.5em;
  margin-top: 2px;
  border: 1px solid #aaa;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.fr-json {
  min-width:25em;
  min-height:2em;
  padding:0px;
  border: none !important;
}
.fr-nav-dismiss {
  background-color: rgba(128,128,128,.5);
  position: fixed;
  top: 46px;
  left: 0;
  width: 150%;
  height: 150%;
  z-index: -1;
}
.fr-nav-menu li:hover {
  font-weight: bold;
}
.fr-nav-menu li {
}
.fr-nav-menu {
  display:none;
  float: left;
  font-size: 12pt ;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 2px solid #888;
  border-bottom: 2px solid #888;
  padding: 5px;
  background: #eee;
  min-width: 25em;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.fr-json-post {
  min-width:25em;
  min-height:2.2em;
  margin-top: 0.3em;
  padding:2px;
}
.fr-json-ok {
  color: #888 !important;
}
.fr-json-err {
  background: #fee !important;
  color: #800;
}
.fr-data-label {
  margin-top: 0.6em;
  font-family: Courier;
  display:block;
  text-align: left;
}
.fr-data {
  position: relative;
}
.fr-form {
  padding-bottom: 1em;
}
