.fr-get {
  margin-top: -2em;
}
.fr-enable {
  margin-left: 3em;
  color: #888 !important;
}
.fr-section-title {
  position: relative;
  left: -2.2em;
  font-size:20px;
  margin-top: 0.8em;
}
.fr-transmit-idle {
  color: #080;
}
.fr-transmit-active {
  color: #8f8;
}
.fr-transmit-dead {
  color: #a00;
}
.fr-service {
  font-family: Courier;
}
.fr-body-text {
  font-size: 14px;
}
.fr-collapse {
  display: inline-block;
  margin-right: -0.2em;
}
.fr-collapse-icon {
  color: #888;
  font-size: 14pt;
}
.fr-collapse-btn {
  border: none !important;
}
.fr-help {
  border-radius: 8px;
  background: #888;
  color: #fff;
  font-weight: 800;
  padding-left: 0.3em;
  padding-right: 0.3em;
}
.fr-content_source {
  color: #fa0;
}
.fr-banner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.1em;
  z-index: 99999999;
  background: #eee;
  padding-left: 1.0em;
}
.fr-banner-left {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
}
.fr-banner-logo {
  height: 3em;
  padding: 0.1em;
}
.fr-banner-right {
  position: absolute;
  top: 0;
  right: 0;
}
.fr-banner-space {
  height: 3.5em;
}
.fr-banner-title {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
  margin-right: 1em;
}
.fr-row {
  position: relative;
  border-bottom: 1pt solid #ddd;
  padding-bottom: 0.5em;
}
.fr-row:last-of-type {
  position: relative;
  border-bottom: none;
}
.fr-cell-data {
  display: inline-block;
}
.fr-cell-btn {
  display: inline-block;
  text-align: left;
}
.fr-img-sm{
  width:50%;
}
.fr-img-lg {
  width:100%;
}
.fr-control-label {
  font-weight: bold;
}
.fr-json {
  min-width:30em;
  min-height:2.2em;
  padding:2px;
}
.fr-json-ok {
  color: #888;
}
.fr-json-err {
  background: #fee;
  color: #800;
}
.fr-data-label {
  margin-top: 0.6em;
  font-family: Courier;
  display:block;
  text-align: left;
}
.fr-data {
  position: relative;
}
.fr-form {
  padding-bottom: 1em;
}
